    {% if include.id == "wap" %}
        {% assign locationName = "We Are Padel - Berlin" %}
        {% assign locationLink = "https://wearepadel.com/de/berlin" %}
    {% endif %}
    {% if include.id == "pl" %}
        {% assign locationName = "Padel Lankwitz" %}
        {% assign locationLink = "https://www.padellankwitz.de/" %}
    {% endif %}
    {% if include.id == "padelFC" %}
        {% assign locationName = "Padel FC" %}
        {% assign locationLink = "https://padelfc.com/" %}
    {% endif %}
    {% if include.id == "beachMitte" %}
        {% assign locationName = "Beach Mitte" %}
        {% assign locationLink = "https://beachmitte.de/beachmitte/padel-tennis" %}
    {% endif %}
    {% if include.id == "padelBerlin" %}
        {% assign locationName = "PadelBerlin" %}
        {% assign locationLink = "http://www.padelberlin.de/" %}
    {% endif %}
    {% if include.id == "other" %}
        {% assign locationName = "Your place" %}
        {% assign locationLink = "/about.html" %}
    {% endif %}
    {% if include.id == "minerva" %}
        {% assign locationName = "Minerva" %}
        {% assign locationLink = "https://www.minervaclubresort.it/" %}
    {% endif %}
    {% if include.id == "tio" %}
        {% assign locationName = "Tio Tio Social Sports" %}
        {% assign locationLink = "https://tiotio.club/" %}
    {% endif %}
    {% if include.id == "mitte" %}
        {% assign locationName = "mitte — Charlotte" %}
        {% assign locationLink = "https://www.instagram.com/mittepadel/" %}
    {% endif %}

    <a href="{{locationLink}}" target="_blank" class="event-location">📍 {{locationName}}</a>