<div>Event Location:
    {% if include.id == "wap" %}
    <a href="https://wearepadel.com/de/berlin" target="_blank">We Are Padel - Berlin</a>
    {% endif %}
    {% if include.id == "pl" %}
    <a href="https://www.padellankwitz.de/" target="_blank">Padel Lankwitz</a>
    {% endif %}
    {% if include.id == "padelFC" %}
    <a href="https://padelfc.com/" target="_blank">Padel FC</a>
    {% endif %}
    {% if include.id == "beachMitte" %}
    <a href="https://beachmitte.de/beachmitte/padel-tennis/" target="_blank">Beach Mitte</a>
    {% endif %}

</div>
<!--<a href="https://wearepadel.com/de/berlin" target="_blank">We Are Padel - Berlin</a>-->